@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
	margin: 0;
	background-image: url("assets/black.jpg");
	background-size: cover;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

canvas:hover {
	cursor: grabbing;
}

main {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.article {
	grid-column: 3/8;
	background-color: rgba(132, 195, 211, 0.96);
	color: black;
	margin: 50% 0;
	font-family: "Roboto Mono", monospace, sans-serif;
	font-size: 16px;
	padding: 20px;
	width: 300px;
	border: 2px solid transparent;
	transition: all 0.5s ease;
	cursor: pointer;
}

.article h2 {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}
